# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environments

venv/
env/
.venv/

# Jupyter Notebook

.ipynb_checkpoints/

# TensorFlow / Keras Models

*.h5
*.keras
saved_model/
checkpoints/

# Dataset Downloads

kagglehub/
data/
datasets/

# Logs

*.log
logs/

# Environment Variables

.env

# IDE Settings

.vscode/
.idea/

# Build Files

build/
dist/
*.egg-info/

# Operating System Files

.DS_Store
Thumbs.db
